<footer class="web-footer">
    <div class="container">
        <div class="footer-logo-extension">
            <div class="row">
                <div class="text-left col-md-6">
                    <div>
                        <img alt="Footer Logo" class="footer-logo" src="/files/Furniture-Logo.png">
                    </div>
                </div>
                <div class="text-right col-md-6">
                    <div class="input-group">
                        <input aria-describedby="footer-subscribe-button" aria-label="Your email address..." class="form-control" id="footer-subscribe-email" placeholder="Your email address..." type="text">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-default" id="footer-subscribe-button" type="button">Get Updates</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-grouped-links">
            <div class="row">
                <div class="col-sm-2 footer-group">
                    <div data-label="The Company">
                        <h5 class="footer-group-label">The Company</h5>
                        <ul class="footer-group-links list-unstyled">
                            <li class="footer-child-item" data-label="Contact Us">
                                <a href="/contact-us" rel="noreferrer">Contact Us</a>
                            </li>
                            <li class="footer-child-item" data-label="Blog">
                                <a href="/blog" rel="noreferrer">Blog</a>
                            </li>
                            <li class="footer-child-item" data-label="Careers">
                                <a href="/careers" rel="noreferrer">Careers</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 footer-group">
                    <div data-label="More Information">
                        <h5 class="footer-group-label">More Information</h5>
                        <ul class="footer-group-links list-unstyled">
                            <li class="footer-child-item" data-label="Return and Refund Policy">
                                <a href="/return-policy" rel="noreferrer">Return and Refund Policy</a>
                            </li>
                            <li class="footer-child-item" data-label="Shipping and Delivery">
                                <a href="/shipping" rel="noreferrer">Shipping and Delivery</a>
                            </li>
                            <li class="footer-child-item" data-label="Terms and Conditions">
                                <a href="/t-n-c" rel="noreferrer">Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 footer-group">
                    <div data-label="Socials">
                        <h5 class="footer-group-label">Socials</h5>
                        <ul class="footer-group-links list-unstyled">
                            <li class="footer-child-item" data-label="Instagram">
                                <a href="None" rel="noreferrer"><img alt="Instagram" src="/files/instagram.png"></a>
                            </li>
                            <li class="footer-child-item" data-label="Facebook">
                                <a href="None" rel="noreferrer"><img alt="Facebook" src="/files/facebook.png"></a>
                            </li>
                            <li class="footer-child-item" data-label="Twitter">
                                <a href="None" rel="noreferrer"><img alt="Twitter" src="/files/twitter.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-links">
            <div class="row">
                <div class="footer-col-left col-sm-6"></div>
                <div class="footer-col-right col-sm-6"></div>
            </div>
        </div>
        <div class="footer-info">
            <div class="row">
                <div class="footer-col-left col-sm-6 col-12">
                    © Frappe Comfort
                    <br>
                    <div class="ql-editor read-mode">
                        <p>Frappe Technologies Pvt Ltd,</p>
                        <p>1st, 2nd &amp; 3rd Floor, No 259 and 276, HBCS Layout, Bengaluru-560 071, Karnataka, India.</p>
                        <p><strong>CIN:</strong>&nbsp;U01100MH1999PLC120563</p>
                    </div>
                </div>
                <div class="footer-col-right col-sm-6 col-12 footer-powered">
                    <a class="text-muted" href="https://erpnext.com/retail?source=website_footer" target="_blank">Powered by ERPNext - ERP Software for Retail Companies</a>
                </div>
            </div>
        </div>
    </div>
</footer>