#page-Workspaces .page-head {
  transform: translatex(0px) translatey(0px);
  background-image: linear-gradient(to right, #ece9e6 100%, #ffffff 100%);
  margin-bottom: 25px;
}
.page-wrapper .layout-side-section {
  background-size: cover;
  backdrop-filter: blur(10px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 8px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 0.5px;
  border-color: #b5b5b5;
  box-shadow: 0px 0px 16px 1px #ededed;
}
.main-section header {
  background-color: #ffffff;
}
.page-head .justify-between {
  height: 50px;
  margin-left: -15px;
}
/* Layout main section */
.page-wrapper .layout-main-section{
 border-style:solid;
 border-width:0.5px;
 border-color:#c4c4c4;
}

/* Layout side section */
.page-wrapper .layout-side-section{
 transform:translatex(0px) translatey(0px);
 opacity:0.76;
  backdrop_filter:blur(20px);
  --webkit-backdrop_filter:blur(20px);
}

/* Content Division */
#page-Workspaces{
 background-image:url("https://images.unsplash.com/photo-1611659934318-06fd70ced53c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNTc5fDB8MXxzZWFyY2h8N3x8cGF0dGVybiUyMHdoaXRlfGVufDB8fHx8MTcwNDc5ODMxMHww&ixlib=rb-4.0.3&q=80&w=2560");
 transform:translatex(0px) translatey(0px);
 background-size:cover;
}


/* Layout main section */
.page-wrapper .layout-main-section{
 box-shadow:0px 0px 14px 5px rgba(0,0,0,0.09);
 border-style:solid;
 border-width:0.5px;
 border-color:#c4c4c4;
}

/* Layout side section */
.page-wrapper .layout-side-section{
 transform:translatex(0px) translatey(0px);
 background-color:#ffffff;
 box-shadow:0px 0px 16px 1px rgba(0,0,0,0.16);
}

/* Content Division */
#page-Workspaces{
 background-image:url("https://images.unsplash.com/photo-1611659934318-06fd70ced53c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNTc5fDB8MXxzZWFyY2h8N3x8cGF0dGVybiUyMHdoaXRlfGVufDB8fHx8MTcwNDc5ODMxMHww&ixlib=rb-4.0.3&q=80&w=2560");
 transform:translatex(0px) translatey(0px);
 background-size:cover;
}

@media (min-width:992px){

 /* Layout side section */
 .page-wrapper .layout-side-section{
  max-width:33%;
  height:85vh !important;
 }
 
}
