* {
scrollbar-width: 0!important;
}
[data-page-route=Workspaces] .layout-main-section-wrapper {
margin-top: 0px!important;
}

body {
background-color: calc(var(--bg-color) + 1000)!important;
}

[data-route^="print-designer"] #global-sidebar {
display: none!important;
}
.raven-header .open-raven-button:hover {
 background-color:transparent!important;
}
.awesomplete>ul
{
 z-index:100!important;
}
.modal-backdrop.show
{
opacity:1!important;
 
}
.modal-backdrop {
background-color: rgba(56, 56, 56, 0.44)!important;
}
.modal
{
 -webkit-backdrop-filter: blur(3px);
 backdrop-filter: blur(3px);
}
.sidebar-item-label {
color: white!important;
}

#global-sidebarList li {
border-bottom: 1px none #ccc!important;
}
[data-theme-mode="light"] #global-sidebar {
position: fixed;
top: 0;
left: -100%;
width: 300px;
padding: 10px;
height: 100%;
background-image: url("/files/menu-bg.jpg");
transition: left 0.1s ease-in-out;
z-index: 2001;
overflow-y: auto;
}

[data-theme-mode="dark"] #global-sidebar {
position: fixed;
top: 0;
left: -100%;
width: 300px;
padding: 10px;
height: 100%;
background-image: url("/files/menu-bgd.jpg");
transition: left 0.1s ease-in-out;
z-index: 2001;
overflow-y: auto;
}
[data-theme-mode="light"] .page-head .container .justify-between{
 width:100vw !important;
 background-image: url("/files/dotsholes.jpg")!important;
background-size: contain!important;
filter: opacity(0.8);
}

[data-theme-mode="dark"] .page-head .container .justify-between{
 width:100vw !important;
 background-image: url("/files/dotsholesd.png")!important;
background-size: contain!important;
filter: opacity(0.8);
}

[data-page-route=Workspaces] .codex-editor .codex-editor__redactor .ce-block .ce-block__content .widget.spacer {
height: 18px!important;
background-color: color(srgb 0.9433 0.9533 0.9575);
}
body {
 margin: 0!important;
 height: 100%!important;
}
.page-title .sidebar-toggle-btn {
display: none!important;
}


@media (max-width:1199px) {
 .raven-container[data-open-state=false] .raven-content-container {
display: none!important;
}

.layout-main .layout-side-section {
display: none!important;
}
.raven-container[data-open-state=false] .back-button {
display: none!important;
}
.raven-container[data-open-state=false] .open-raven-button {
/* padding: 4px 8px; */
z-index: 10!important;
color: #ffffff;
padding-right: 0px!important;
content: url("/files/chat.png")!important;
visibility: visible;
scale: 0.3;
transform: translateX(100%)!important;
/* align-content: center; */
/* justify-content: center; */
filter: drop-shadow(0px 30px 30px (0,0,0,0.4))!important;
}

 .raven-container[data-open-state="false"] .raven-logo {
display: none!important;
}
.raven-container[data-open-state="true"] .raven-logo:after {
font-weight: 300;
font-size: 18px!important;
color: #ffffff;
padding-right: 0px!important;
content: "Messenger"!important;
visibility: visible;
 padding-left:10px!important;
 z-index:10!important;
/* align-content: center; */
/* justify-content: center; */
}

 .raven-logo {
  
visibility:hidden;
  font-size:0px!important;
}
 .raven-logo {
font-weight: 300!important;
color: var(--heading-color)!important;
padding-right: 4px!important;
font-family: Arial!important;
}
 .raven-content-container {
position: relative;
width: 100%!important;
}
 .raven-content-container[data-channel-list-view=true] .raven-channel-list {
width: 100%!important;
}
 .raven-content-container[data-channel-list-view=false] .raven-chat-view {
width: 100%!important;
}
 .raven-chat-view .raven-chat-view-container {
width: 100%!important;
}
 .btn.icon-btn, div#driver-popover-item .driver-popover-footer button.icon-btn {
height: 100%!important;
}
 .raven-chat-view .raven-chat-view-container .raven-chat-input .send-button svg {
fill: whitesmoke!important;
}
.raven-chat {
border-top-right-radius: 0px!important;
border-top-left-radius: 0px!important;
border-bottom-right-radius: 0px!important;
 box-shadow:none!important;
border-bottom-left-radius: 0px!important;
position: fixed;
 border-bottom:none!important;
 border-top:none!important;
 border-right:none!important;
 border-left:none!important;
 border:none!important;
width: auto!important;
background-color: transparent!important;
left: unset!important;
bottom: 0px!important;
 right: 30px!important;
 z-index:10!important;
}

.raven-container[data-open-state=true] {
overflow: hidden;
 z-index:1000!important;
width: calc(100vw - 60px)!important;
 backdrop-filter: blur(5px)!important;
-webkit-backdrop-filter: blur(5px)!important;
 background-color: (0, 0, 0, 0.85)!important;
box-shadow: 0px 0px 50px 1px (0,0,0,0.50)!important;
 height: 90vh!important;
}
.raven-container[data-open-state=true] .raven-header {
 height: 50px!important;
border-bottom: 1px solid var(--border-color);
width:calc(100vw - 60px)!important;
 z-index:10000!important;
}
 .raven-container[data-open-state=false] {
height: 120px!important;
overflow: hidden;
  z-index:10!important;
  min-width:80px!important
}

.raven-header .back-button svg {
fill: var(--teal-50)!important;
width: 30px!important;
height: 30px!important;
}

.raven-header .open-raven-button svg {
fill: #959191!important;
height: 30px!important;
width: 30px!important;
}

.raven-channel-list h4 {
font-size: .7rem!important;
font-weight: 300!important;
text-transform: uppercase;
color: var(--blue-400)!important;
padding: .5rem .4rem;
margin: 0;
}

.raven-channel-list-item {
padding: .3rem .5rem;
display: flex;
width: 100%;
background-color: (235, 235, 235, 0.17)!important;
gap: .5rem;
justify-content: space-between;
align-items: center;
border: none;
border-bottom: 1px solid (0, 0, 0, 0.39)!important;
cursor: pointer;
}

.raven-channel-list-item .raven-channel-icon {
height: 1.8rem;
display: flex;
fill: #ffffff!important;
align-items: center;
justify-content: center;
width: 1.8rem!important;
}

.raven-channel-list-item .channel-label {
color: var(--btn-default-bg)!important;
font-weight: 300!important;
font-family: Arial!important;
}

.message-item .raven-message-item-header .raven-message-item-header-time {
font-size: .7rem!important;
padding-left: .3rem;
margin-left: .3rem;
border-left: 1px solid var(--border-color);
color: #c9c9c9!important;
}

.raven-tiptap-renderer {
color: #ffffff!important;
}

.raven-chat-view .raven-chat-view-container .raven-chat-input {
position: fixed;
 left: 30px!important;
display: flex!important;
gap: .5rem!important;
min-height: 60px!important;
padding: 6px!important;
border-top: 1px solid var(--border-color)!important;
width: calc(100vw - 60px)!important;
}
.raven-channel-header-name {
font-weight: 200!important;
font-size: 16px!important;
color: var(--teal-50)!important;
}

 .raven-chat-view .raven-chat-view-container .raven-chat-input textarea {
width: 100%!important;
max-height: 60px!important;
background: (0, 0, 0, 0.61)!important;
color: white!important;
}

 .raven-chat-input .btn.icon-btn {
height: 100%!important;
background: (0, 0, 0, 0.61)!important;
}

 .raven-container[data-open-state=false] .raven-header {
border-bottom: 0px solid var(--border-color);
width: 100px!important;
height: 100px!important;
justify-content: end!important;
  z-index:10!important;
}
.message-item .raven-message-item-header .raven-message-item-header-name {
font-weight: 400!important;
font-size: 14px!important;
color: #b9b9b9!important;
}

 .raven-date-separator .raven-date-separator-text {
font-size: .75rem!important;
min-width: -moz-fit-content!important;
min-width: fit-content!important;
color: white!important;
}

 .raven-container {
transition: width .3s ease, height .3s ease!important;
  z-index:10!important;
  -webkit-transform:translate3d(0,0,0);
 -webkit-backface-visibility: hidden;
}
.rt-Text:where(.rt-r-size-6) {
font-size: 0;
--line-height: var(--line-height-6);
--letter-spacing: var(--letter-spacing-6);
}
.rt-Text:where(.rt-r-size-6):after {
font-size: var(--font-size-6);
--line-height: var(--line-height-6);
--letter-spacing: var(--letter-spacing-6);
 content:"Connect"!important;
}

.raven-header {
height: 60px!important;
padding-inline: 0.3rem!important;
display: flex;
align-items: center;
justify-content: space-between;
padding-block: 0rem!important;
z-index:10!important;
}
 /* Link item */
 .codex-editor div .link-item{

  font-size:15px !important;
  text-align:left;
  backdrop-filter: brightness(1.18);
  padding-top:10px !important;
  padding-bottom:10px !important;
  margin-left:0px !important;
 }
 
 /* Widget */
 .codex-editor .ce-block .ce-block__content div .widget{
  background-color:(127,140,141,0.42);
  background-image:url("https://images.unsplash.com/photo-1510172951991-856a654063f9?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNTc5fDB8MXxzZWFyY2h8MjAzfHxmbGF0JTIwYmFja2dyb3VuZHxlbnwwfHx8fDE3MDUyOTQ1NTR8MA&ixlib=rb-4.0.3&q=80&w=1130");
  background-size:auto;
  padding-top:25px !important;
  padding-bottom:25px !important;
 }
 
 /* Codex editor */
 #editorjs .codex-editor{
  box-shadow:none;
 }
 
 /* Codex editor  redactor */
 #editorjs .codex-editor .codex-editor__redactor{
  margin-right:0px;
  margin-left:0px;
 }
 
 
 /* Content Division */
 #page-Workspaces{
  background-color:#ffffff;
 }
 
 /* Block  content */
 .codex-editor .ce-block .ce-block__content{
  text-align:center;
 }
 
 /* Widget head */
 .codex-editor div .widget-head{
  align-self:center;
 }
 
 
 /* Widget */
 .codex-editor .ce-block .ce-block__content div .widget{
  background-color:(127,140,141,0.42);
  background-image:url("https://images.unsplash.com/photo-1510172951991-856a654063f9?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNTc5fDB8MXxzZWFyY2h8MjAzfHxmbGF0JTIwYmFja2dyb3VuZHxlbnwwfHx8fDE3MDUyOTQ1NTR8MA&ixlib=rb-4.0.3&q=80&w=1130");
  background-size:auto;
  padding-top:25px !important;
  padding-bottom:25px !important;
 }
 
 
 /* Bold Tag */
 .codex-editor span b{
  font-size:24px;
 }
 
 /* Icon */
 .codex-editor .widget-head .icon-xs{
  transform:scale(1.5);
 }
 

 /* Link item */
 .codex-editor div .link-item{
  
  font-size:15px !important;
  text-align:left;
  backdrop-filter: brightness(1.18);
  padding-top:10px !important;
  padding-bottom:10px !important;
  margin-left:0px !important;
 }
 *::-webkit-scrollbar {
display: none!important;
}
 element::-webkit-scrollbar {
display: none!important;
}
 /* Container */
 #page-Workspaces .page-head .container{
  margin-left:0px;
  margin-right:0px;
  max-width:100%;

 }
 
 /* Container */
 .main-section #body #page-Workspaces .page-head .container{
  width:100% !important;
 }
 
 /* Row */
 .page-wrapper .layout-main{
  margin-left:0px;
  margin-right:0px;
  width:100%;
 }
 
 /* Codex editor  redactor */
 #editorjs .codex-editor .codex-editor__redactor{
  width:100%;
 }
 
 /* Page body */
 #page-Workspaces .page-body{
  margin-left:0px;
  margin-right:0px;
  max-width:100%;
  width:100%;
  padding-left:0px;
  padding-right:0px;
 }
 
 /* Layout main section wrapper */
 .page-wrapper .layout-main-section-wrapper{
  width:100%;
 }
 
 /* Layout main section */
 .page-wrapper .layout-main-section{
  padding-left:0px;
  padding-right:0px;
 }
 
 /* Editorjs */
 #editorjs{
  width:100%;
 }
 
 /* Codex editor */
 #editorjs .codex-editor{
  width:100%;

 }
 
 /* Layout side section */
 .page-wrapper .layout-side-section{
  padding-right:0px;
  padding-left:0px;
 }
 
 /* Page content */
 .main-section #body #page-Workspaces .page-body .page-wrapper .page-content{
  width:100% !important;
 }
 
 /* Page wrapper */
 .main-section #body #page-Workspaces .page-body .page-wrapper{
  width:100% !important;
 }
 
 /* Body */
 #body{
  width:100%;
 }
 
 /* Main section */
 .main-section{
  width:100vw;

 }
 
 /* Layout main section */
 .main-section #body #page-Workspaces .page-body .page-wrapper .page-content .layout-main .layout-main-section-wrapper .layout-main-section{
  width:100% !important;
 }

}


 
@media (min-width:1200px) {/* Content Division */
#page-Workspaces{
 height:49px;
}
/* Navbar search */
#navbar-search{
 border-style:solid;
 border-color:(44,62,80,0.83);
 border-width:0.5px;
 box-shadow:none;
}
#navbar-search[aria-expanded="true"] {
z-index: 10!important;
height: 40px!important;
border-bottom-right-radius: 0!important;
border-bottom-left-radius: 0!important;
}
 [data-page-route=Workspaces] .layout-main .layout-main-section {
border: 1px none var(--border-color)!important;
  background-color: transparent!important;
}
/* Layout side section */
.page-wrapper .layout-side-section{
 box-shadow:-2px 6px 6px 6px (116,135,138,0.44) inset;
 padding-right: 15px!important;
  padding-left:15px!important;
}

.row{
display: flex;
flex-wrap: wrap;
margin-right: 0px!important;
margin-left: 0px!important;
}


.navbar {
padding-left: 10px!important;
padding-right: 10px!important;
}
 
/* Page body */
#page-Workspaces .page-body{
 margin-left:0px;
 margin-right:0px;
 position:relative;
 top:0px;
 padding-right:0px;
 padding-top:0px;
}

/* Row */
.page-head .justify-between{
 margin-right:0px;
 height:48px!important;
 margin-left:0px;
 box-shadow:none;
 position:static;
}

/* Container */
#page-Workspaces .page-head .container{
 margin-left:0px;
 margin-right:0px;
 padding-left:0px;
 padding-right:0px;
}

/* Container */
.main-section .navbar .container{
 margin-left:0px;
 margin-right:0px;
}

/* Layout main section wrapper */

/* Layout main section wrapper */

 [data-route^=Form] .page-wrapper .layout-main-section-wrapper{
 margin-top:48px;
 margin-bottom:0px;
 display:inline-block;
 padding-left:0px;
 padding-top:0px;
 padding-bottom:0px;
  background-color:var(--card-bg);
}

/* Row */
.main-section #body #page-Workspaces .page-body .page-wrapper .page-content .layout-main{
 width:100% !important;
}

/* Row */
[data-theme-mode="light"] .page-head .container .justify-between{
 width:100vw !important;
 background-image: url("/files/dotsholes.jpg")!important;
background-size: contain!important;
filter: opacity(0.8);
}

[data-theme-mode="dark"] .page-head .container .justify-between{
 width:100vw !important;
 background-image: url("/files/dotsholesd.png")!important;
background-size: contain!important;
filter: opacity(0.8);
}


/* Body */
body{
 width:100vw;
}

/* Navbar collapse */
.navbar .navbar-collapse{
 align-self:auto;
 justify-content:flex-end;
 align-items:center;
 flex-direction:row;
}

/* Navbar search */
#navbar-search{
 float:none;
}

/* Input group */
.navbar-collapse .form-inline .input-group{
 max-width:1250px;
}

/* Image */
.navbar .navbar-home img{
 display:inline-block;
 margin-left:0px;
}

/* Layout main section */
.page-wrapper .layout-main-section{
 border-top-left-radius:0px;
 border-top-right-radius:0px;
 border-bottom-left-radius:0px;
 border-bottom-right-radius:0px;
 padding-left:0px !important;
 padding-top:0px !important;
 padding-right:0px !important;
 padding-bottom:0px !important;
 margin-left:0px;
}

/* Layout side section */
.main-section #body #page-Workspaces .page-body .page-wrapper .page-content .layout-main .layout-side-section{
 width:20% !important;
 display:none;
}

/* Layout side section */
.page-wrapper .layout-side-section{
 background-size:cover;
 padding-top:25px;
 background-color:#ffffff;
 box-shadow:-4px 2px 18px -2px (116,135,138,0.44) inset;
 top: 0px;
}

/* Page wrapper */


/* Form Division */
.navbar .navbar-collapse form{
 justify-content:flex-end !important;
}

/* Menu */
#navbar-breadcrumbs{
 margin-left:0px;
 padding-left:10px;
}

/* Form Division */
.main-section .navbar .container .navbar-collapse form{
 width:auto !important;
 margin-left: 13%!important;
}

/* Page body */
.main-section #body #page-Workspaces .page-body{
 height:auto !important;
}

/* Widget */




 /* Navbar search */
 #navbar-search{
  display:inline-block;
 }
 


 /* Container */
 #page-Workspaces .page-head .container{
  width:100%;
 }
 
 /* Container */
 .main-section .navbar .container{
  width:100%;
 }
 
 /* Page body */
 #page-Workspaces .page-body{
  width:100%;
 }
 
body[data-route^=List/Task/Kanban] .layout-main-section .frappe-list {
padding-left: 0!important;
margin-top: 0px!important;
}

 /* Layout side section */
 .page-wrapper .layout-side-section{
  height:auto;
 max-width:48px!important;
 }
 
 /* Layout main section */
 .page-wrapper .layout-main-section{
  margin-bottom:0px !important;
 }
 /* Page body */
#page-List\/Warehouse\/List .page-body{
 margin-left:0px;
 margin-right:0px;
}

/* Row */
.main-section #body #page-List\/Warehouse\/List .page-head .container .justify-between{
 width:100% !important;
}

/* Content Division */
#page-List\/Warehouse\/List{
 height:100% !important;
}

/* Container */
#page-List\/Warehouse\/List .page-head .container{
 margin-left:0px;
 margin-right:0px;
 padding-right:0px!important;
 padding-left:0px!important;
}
.container{
 padding-right:0px!important;
 padding-left:0px!important;
}

/* Row */
.page-head .justify-between{
 min-width:100%;
}


 /* Page body */
 #page-List\/Warehouse\/List .page-body{
  width:100%;
 }
 
 /* Container */
 .main-section #body #page-List\/Warehouse\/List .page-head .container{
   width:100% !important;
 }
 

body.full-width .container
 {
   width:100% !important;
 }
 /* Container */
 #page-List\/Warehouse\/List .page-head .container{
  max-width:100%;
 }
 .page-wrapper .layout-main-section-wrapper{
height: calc(100vh - var(--navbar-height) - var(--page-head-height) + 60px);
}

[data-page-route=Workspaces] .layout-main {
height: calc(100vh - var(--navbar-height) - var(--page-head-height) + 60px);
}

  *::-webkit-scrollbar {
display: none!important;
}
 element::-webkit-scrollbar {
display: none!important;
}


/* Layout main section wrapper */
.page-wrapper .layout-main-section-wrapper{
 color:rgb(51, 60, 68);
 padding-right:35px;
 padding-top:75px!important;
  padding-left:35px!important;
}

/* Layout main section */
[data-theme-mode="dark"] .page-wrapper .layout-main-section{
 color:rgb(51, 60, 68)!important;
 box-shadow:none!important;
}
 [data-theme-mode="light"] .page-wrapper .layout-main-section{
 color:rgb(200, 200, 200)!important;
 box-shadow:none!important;
}

/* Content Division *

/* Dashboard */
.page-wrapper .dashboard{
 padding-left:78px;
 padding-right:30px;
 padding-top:80px;
 padding-bottom:30px;
}

.page-head {
z-index: 1000!important;
position: fixed!important;
top: var(--navbar-height)!important;
margin-bottom: 0px;
 background: transparent;
transition: .5s top;
 width:100%!important;
 -webkit-transform:translate3d(0,0,0);
 -webkit-backface-visibility: hidden;
}
 
/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Heebo:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Widget */
.codex-editor .ce-block .ce-block__content div .widget{
 background-color:var(--card-bg) !important;
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
 padding-left:15px;
 padding-right:15px;
}

/* Division */
.codex-editor .ce-block .ce-block__content > div{
 text-align:left;
}

/* Layout main section wrapper 

/* Layout main section *

/* Widget */


/* Ellipsis */
.codex-editor .widget-head .ellipsis{
 font-weight:500;
 height:20px;
 font-family:'Heebo', sans-serif;
}


 /* Widget */
 .codex-editor .ce-block .ce-block__content div .widget{
  padding-top:15px;
  padding-bottom:15px;
 }
 
 
 .result .list-row-container > .level{
 background-color:#ffffff;
 font-weight:300;
 font-size:14px;
}


 /* Frappe card */
 .page-wrapper .frappe-card{
  padding-right:30px;

 }

/* Widget */
.codex-editor .ce-block .ce-block__content div .widget{
 box-shadow:0px 0px 23px 1px rgba(51,60,68,0);
}

/* Widget */
.codex-editor .ce-block .widget{
 background-color:#ffffff;
}

/* Widget head */
.codex-editor div .widget-head{
 justify-content:center;
 align-self:auto;
}

/* Span Tag */
.codex-editor .ce-header span{
 display:flex;
 justify-content:center;
}


 /* Widget */
 .codex-editor .ce-block .ce-block__content div .widget{

 }
 
/* Comment box */
.form-footer .after-save .comment-box{
 margin-left:30px;
 margin-right:30px;
 margin-top:50px;
 box-shadow:none;
}

/* Comment box */
.form-footer .after-save .comment-box{
 background-color:transparent;
}

/* Editor */
.comment-input-wrapper .frappe-control .ql-editor{
 background-color:#ffffff;
}

/* Row */
.page-wrapper .form-page .form-section{
 box-shadow:none;
}

/* Form page */
.page-wrapper .form-page{

 border-radius:5px!important;
}

html, body {
background-color: #f0f2f3;
}

 [data-theme=dark] .page-wrapper .layout-main-section-wrapper {
overflow-y: auto;
  background-color: var(--gray-900);
}
  [data-theme=light] .page-wrapper .layout-main-section-wrapper {
overflow-y: auto;
    background-color: #ffffff);
}

 .form-tabs-sticky-down {
    top: calc(var(--navbar-height) - 60px)!important;
}

 .form-tabs-sticky-up {
    top: calc(var(--navbar-height) + 25px)!important;
}
 #freeze{
  z-index:-1!important;
 }

/* Kanban column title */
.kanban .kanban-column-header .kanban-column-title{
 display:table-cell;
 align-self:center;
 flex:1 1 0%;
}

/* Kanban title */
.kanban .kanban-column .kanban-title{
 display:flex;
 justify-content:center;
 font-size:20px !important;
 font-weight:400 !important;
 line-height:2em !important;
}

/* Indicator pill */
.kanban .kanban-column-title .indicator-pill{
 display:flex;
 top:0px !important;
 position:absolute !important;
 z-index:-1 !important;
 height:100% !important;
 justify-content:normal;
 align-items:center;
 width:100% !important;
 border-radius:5px;
 filter:saturate(20);
}

/* Link */
.kanban .column-options a{
 justify-content:normal !important;
 align-items:center !important;
 flex-direction:column !important;
}

/* Icon */
.kanban a .icon-sm{
 justify-content:center;
 flex-direction:column;
 align-items:center;
}

/* Column options */
.kanban .kanban-column .column-options{
 align-self:center;
}

/* Layout main section wrapper */

/* Content Division */
.kanban .kanban-cards .kanban-card{
 box-shadow:0px 0px 3px 1px #c6c6c6 !important;
}

 .result .kanban .kanban-column {
margin-left: 5px;
margin-right: 5px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 5px;
margin-bottom: 5px;
border-width: 0.5px;
border-color: #d8d8d8;
border-style: none;
background: rgba(255, 255, 255, 0.26);
}


/* Kanban */
.frappe-list .result .kanban {
filter: saturate(1);
}

 #navbar-breadcrumbs li a{
 font-size:16px;
 color:#3f3f3f;
 font-weight:400;
}
 /* Layout main section wrapper */

/* Kanban */
.frappe-list .result .kanban{
 background-color:rgba(255,255,255,0);

}
 .page-wrapper .frappe-list .result .kanban .kanban-column .kanban-cards .kanban-card-wrapper .kanban-card{
background-color: #ffffff!important;
}

/* Content Division */
.kanban .kanban-cards .kanban-card{
 backdrop-filter:blur(20px);
 -webkit-backdrop-filter:blur(20px);
}

.new-timeline .activity-title {
padding-left: 30px;
padding-right: 10px;
}

.form-footer {
padding: 30px;
z-index: -1;
display: none;
}
.comment-box .comment-input-container .frappe-control .ql-editor {
background-color: #ffffff!important;
}
.form-footer .after-save .comment-box {
margin-left: 30px;
margin-right: 30px;
margin-top: 30px;
margin-bottom: 30px;
}

.raven-container[data-open-state="false"] .raven-logo {
font-weight: 300;
font-size: 0!important;
 z-index:10!important;
color: #ffffff;
padding-right: 0px!important;
content: url("/files/chat.png")!important;
visibility: visible;
scale: 0.3;
transform: translateX(100%)!important;
/* align-content: center; */
/* justify-content: center; */
 filter: drop-shadow(0px 30px 30px rgba(0,0,0,0.4))!important;
}
.raven-container[data-open-state="true"] .raven-logo:after {
font-weight: 300;
font-size: 18px!important;
color: #ffffff;
padding-right: 0px!important;
content: "Messenger"!important;
visibility: visible;
 padding-left:10px!important;
 z-index:10!important;
/* align-content: center; */
/* justify-content: center; */
}

 .raven-logo {
  
visibility:hidden;
  font-size:0px!important;
}
 .raven-logo {
font-weight: 300!important;
color: var(--heading-color)!important;
padding-right: 4px!important;
font-family: Arial!important;
}
 .raven-content-container {
position: relative;
width: 100%!important;
}
 .raven-content-container[data-channel-list-view=true] .raven-channel-list {
width: 100%!important;
}
 .raven-content-container[data-channel-list-view=false] .raven-chat-view {
width: 100%!important;
}
 .raven-chat-view .raven-chat-view-container {
width: 100%!important;
}
 .btn.icon-btn, div#driver-popover-item .driver-popover-footer button.icon-btn {
height: 100%!important;
}
 .raven-chat-view .raven-chat-view-container .raven-chat-input .send-button svg {
fill: whitesmoke!important;
}
.raven-chat {
border-top-right-radius: 0px!important;
border-top-left-radius: 0px!important;
border-bottom-right-radius: 0px!important;
 box-shadow:none!important;
border-bottom-left-radius: 0px!important;
position: fixed;
 border-bottom:none!important;
 border-top:none!important;
 border-right:none!important;
 border-left:none!important;
 border:none!important;
width: auto!important;
background-color: transparent!important;
left: unset!important;
bottom: 0px!important;
 right: 30px!important;
 z-index:10!important;
}

.raven-container[data-open-state=true] {
overflow: hidden;
 z-index:10!important;
width: 30vw!important;
 backdrop-filter: blur(5px)!important;
-webkit-backdrop-filter: blur(5px)!important;
 background-color: rgba(0, 0, 0, 0.85)!important;
box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.50)!important;
 height: calc(var(--raven-expanded-height) - 30vh)!important;
}
.raven-container[data-open-state=true] .raven-header {
 height: 50px!important;
border-bottom: 1px solid var(--border-color);
width:30vw!important;
 z-index:10!important;
}
 .raven-container[data-open-state=false] {
height: 120px!important;
overflow: hidden;
  z-index:10!important;
  min-width:80px!important
}

.raven-header .back-button svg {
fill: var(--teal-50)!important;
width: 30px!important;
height: 30px!important;
}

.raven-header .open-raven-button svg {
fill: #959191!important;
height: 30px!important;
width: 30px!important;
}

.raven-channel-list h4 {
font-size: .7rem!important;
font-weight: 300!important;
text-transform: uppercase;
color: var(--blue-400)!important;
padding: .5rem .4rem;
margin: 0;
}

.raven-channel-list-item {
padding: .3rem .5rem;
display: flex;
width: 100%;
background-color: rgba(235, 235, 235, 0.17)!important;
gap: .5rem;
justify-content: space-between;
align-items: center;
border: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.39)!important;
cursor: pointer;
}

.raven-channel-list-item .raven-channel-icon {
height: 1.8rem;
display: flex;
fill: #ffffff!important;
align-items: center;
justify-content: center;
width: 1.8rem!important;
}

.raven-channel-list-item .channel-label {
color: var(--btn-default-bg)!important;
font-weight: 300!important;
font-family: Arial!important;
}

.message-item .raven-message-item-header .raven-message-item-header-time {
font-size: .7rem!important;
padding-left: .3rem;
margin-left: .3rem;
border-left: 1px solid var(--border-color);
color: #c9c9c9!important;
}

.raven-tiptap-renderer {
color: #ffffff!important;
}

.raven-chat-view .raven-chat-view-container .raven-chat-input {
position: fixed;
 left: unset!important;
display: flex!important;
gap: .5rem!important;
min-height: 60px!important;
padding: 6px!important;
border-top: 1px solid var(--border-color)!important;
width: 30vw!important;
}
.raven-channel-header-name {
font-weight: 200!important;
font-size: 16px!important;
color: var(--teal-50)!important;
}

 .raven-chat-view .raven-chat-view-container .raven-chat-input textarea {
width: 100%!important;
max-height: 60px!important;
background: rgba(0, 0, 0, 0.61)!important;
color: white!important;
}

 .raven-chat-input .btn.icon-btn {
height: 100%!important;
background: rgba(0, 0, 0, 0.61)!important;
}

 .raven-container[data-open-state=false] .raven-header {
border-bottom: 0px solid var(--border-color);
width: 100px!important;
height: 100px!important;
justify-content: end!important;
  z-index:10!important;
}
.message-item .raven-message-item-header .raven-message-item-header-name {
font-weight: 400!important;
font-size: 14px!important;
color: #b9b9b9!important;
}

 .raven-date-separator .raven-date-separator-text {
font-size: .75rem!important;
min-width: -moz-fit-content!important;
min-width: fit-content!important;
color: white!important;
}

 .raven-container {
transition: width .3s ease, height .3s ease!important;
  z-index:10!important;
  -webkit-transform:translate3d(0,0,0);
 -webkit-backface-visibility: hidden;
}
.rt-Text:where(.rt-r-size-6) {
font-size: 0;
--line-height: var(--line-height-6);
--letter-spacing: var(--letter-spacing-6);
}
.rt-Text:where(.rt-r-size-6):after {
font-size: var(--font-size-6);
--line-height: var(--line-height-6);
--letter-spacing: var(--letter-spacing-6);
 content:"Connect"!important;
}

.raven-header {
height: 60px!important;
padding-inline: 0.3rem!important;
display: flex;
align-items: center;
justify-content: space-between;
padding-block: 0rem!important;
z-index:10!important;
}

/* Header */
.main-section header{
 width:100%;
 justify-content:space-around;
 align-items:stretch;
}
 /* Container */
 .main-section .navbar .container{
  width:100vw !important;
  max-width:100vw;
 }
 

 /* Row */
 .main-section #body #page-Workspaces .page-head .container .justify-between{
  width:100vw !important;
 }
 
 /* Container */
 .main-section .navbar .container{
  width:100vw !important;
 }
 
 /* Row */
 .main-section #body #page-Workspaces .page-body .page-wrapper .page-content .layout-main{
  width:100vw !important;
 }

 #page-List\/Item\/List .page-head .container{
 margin-left:0px;
 margin-right:0px;
  max-width:100vw;
}

 #page-List\/Item\/List{
 width:100vw;
}

 .main-section #body #page-List\/Item\/List .page-body{
 width:100vw !important;
}
 #page-List\/Item\/List .page-body{
 margin-left:0px;
 margin-right:0px;
 display:block;
}

 /* Layout side section */
.page-wrapper .layout-side-section{
 box-shadow:-4px 2px 0px 0px #525252;
 background-color:#474747;
}


/* Row */
{
 background-image:none;
 background-color:rgba(0,0,0,0.24);
 box-shadow:0px 0px 34px 13px rgba(82,82,82,0.5);
 backdrop-filter:blur(20px);
}

/* Layout main section */
.page-wrapper .layout-main-section{
 position:relative;
 border-left-style:none !important;
}

/* Page head */


/* Body */
#body{
 background-color:rgba(255,255,255,0);
}

/* Content Division */
#page-Workspaces{
 background-color:transparent;
}

/* Widget */
.codex-editor .ce-block .ce-block__content div .widget{
 box-shadow:0px 0px 16px 1px rgba(51,60,68,0);
 backdrop-filter:blur(10px) saturate(2.01);
}


/* Body */
 
 /* Row */
 {
  position:fixed;
 }
 
 /* Layout main section */
 .page-wrapper .layout-main-section{
    top:0px!important;
 }
 
 /* Layout side section */
 .page-wrapper .layout-side-section{
  padding-top:75px;
 }

 /* Row */
.page-head {
 z-index:5!important;
 box-shadow:0px 0px 34px 13px rgba(82,82,82,0);
 backdrop-filter:blur(10px)!important;
 -webkit-backdrop-filter:blur(10px)!important;
}


/* Header */

/* Sidebar item label */
.standard-sidebar-section > .sidebar-item-container > .desk-sidebar-item .sidebar-item-label{
 color:#ffffff;
}

/* Use */
.desk-sidebar .icon-md use {
--icon-stroke: white;
fill: rgba(0, 0, 0, 0.21);
}

/* Standard sidebar label */
.desk-sidebar .standard-sidebar-section .standard-sidebar-label{
 color:#cecece;
}
/* Button */
.page-actions .custom-actions .ellipsis{
 box-shadow:0px 0px 50px 1px rgba(56,56,56,0);
}

/* Button */
.page-actions .standard-actions .btn-secondary{
 box-shadow:0px 0px 27px 1px rgba(56,56,56,0.33);
}




/* Use */
.sidebar-toggle-btn .sidebar-toggle-placeholder use{
 filter: brightness(10);
}

/* Page actions */
.page-head .justify-between .page-actions{
 justify-content:flex-end;
}

 /* Column 4/12 */
 .page-head .justify-between .page-title{
max-width: calc(33.33vw - 100px)!important;
padding-left: 80px;
padding-right: 0.75vw!important;
display: flex;
text-align: center;
 }
/* Content Division */
#page-List\/Item\/List{
 background-color:rgba(255,255,255,0);
}

/* Level */
.result .list-row-container > .level{
 background-color:rgba(255,255,255,0);
}

[data-theme=dark] .frappe-list .result .list-row-container{
 border-bottom-style:solid;
 border-bottom-width:0.5px;
}
[data-theme=light] .frappe-list .result .list-row-container{
 background-color:rgba(255,255,255,0.14);
 border-bottom-style:solid;
 border-bottom-color:rgba(0,0,0,0.26);
 border-bottom-width:0.5px;
}

/* Filterable *

/* Text muted */
.frappe-list .result header.text-muted{
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 2px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
padding-bottom: 15px;
padding-right: 20px;
padding-left: 5px;
position: fixed;
left: 48px;
width: calc(100vw - 48px);
padding-left: 35px;
padding-right: 55px;
top: calc(var(--page-head-height) + var(--navbar-height) + var(--input-height) - 0px);
 z-index:5;
 filter:invert();
}

.layout-main-section .frappe-list, .layout-main-section .report-wrapper {
padding: 0!important;
margin-top: 50px!important;
}
/* Standard filter section */
.frappe-card .page-form .standard-filter-section{
height:38px;
}

/* Page form */
.page-wrapper .frappe-card .page-form{
padding-left: 30px!important;
padding-right: 30px!important;
}

.text-base.font-medium.text-gray-900.leading-none {
font-size: 0;
visibility: hidden;
}
 .text-base.font-medium.text-gray-900.leading-none:after {
font-size: 16px;
visibility: visible;
  content:"Drive";
}

#headlessui-menu-item-3 {
display: none;
}
 #headlessui-menu-item-4 {
display: none;
}
 #headlessui-menu-item-5 {
display: none;
}

 .page-head .justify-between{
 left:0px;
}

  [id^="page-List"] .page-body{
  max-width:100%;
 }

[id^="page-List"] .main-section #body #page-List\/Role\/List .page-body{
 width:100% !important;
}

.container.page-body {
max-width: 100vw!important;
}
 .standard-sidebar-item.selected {
background-color: #000000!important;
/* color: black!important; */
filter: invert();
}
 .standard-sidebar-item:hover {
background-color: #000000!important;
text-decoration: none;
}

 .page-title .sidebar-toggle-btn {
display:none!important;
}

 .widget.spacer {
opacity: 0!important;
}

 .raven-container[data-open-state=false] .back-button {
    /* padding: 4px 8px; */
    display: none!important;
}
 .raven-container[data-open-state=false] .open-raven-button {
    /* padding: 4px 8px; */
    display: none!important;
}
 .raven-container[data-open-state=false] .raven-unread-count {

padding-left:15px!important;
  font-weight:400!important;
}


/* Link */
#global-sidebarList li a{
 padding-top:5px;
 padding-bottom:5px;
}

/* List Item */
#global-sidebarList li{
 border-bottom-style:none;
}

/* Global sidebar */

/* Sidebar item label */
#global-sidebarList a .sidebar-item-label{
 font-size: 18px!important;
font-weight: 300!important;
}


.sortable-chosen .kanban-column-title .indicator-pill{
 border-top-left-radius:10px;
 border-top-right-radius:10px;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
 filter: saturate(2.28);
}

[data-route^="List/Task/Kanban"].page-wrapper .layout-main-section{
 height:100%;
}

/* Global sidebar */
#global-sidebar:hover {
left: 0!important;
width: 12.666%!important;
transition: width 0.2s ease, box-shadow 0.2s ease!important;
 -webkit-transform:translate3d(0,0,0);
 -webkit-backface-visibility: hidden;
top: 0px!important;
padding-top: 0px!important;
z-index: 7!important;
padding-left: 0px!important;
padding-right: 0px!important;
display: block!important;
box-shadow: 0 0 5000px 5000px rgba(0, 0, 0, 0.40), 0 0 50px 1px rgba(0, 0, 0, 0.40)!important;
}
 
[data-theme-mode="light"] #global-sidebar.opened {
width: 48px;
left: 0;
padding: 0px!important;
transition: width 0.3s ease, box-shadow 0.3s ease!important;
top: 0px!important;
padding-top: 0px!important;
z-index: 700!important;
background-image: url("/files/menu-bg.jpg")!important;
padding-left: 0px!important;
padding-right: 0px!important;
display: block;
overflow-y: auto;
position: fixed;
height: 100vh!important;
 -webkit-backdrop-filter: blur(20px);
 backdrop-filter: blur(20px);
}

[data-theme-mode="dark"] #global-sidebar.opened {
width: 48px;
left: 0;
padding: 0px!important;
transition: width 0.3s ease, box-shadow 0.3s ease!important;
top: 0px!important;
padding-top: 0px!important;
z-index: 700!important;
background-image: url("/files/menu-bgd.jpg")!important;
padding-left: 0px!important;
padding-right: 0px!important;
display: block;
overflow-y: auto;
position: fixed;
height: 100vh!important;
 -webkit-backdrop-filter: blur(20px);
 backdrop-filter: blur(20px);
}

[data-route="Workspaces/Home"] [href="/app/home"] .sidebar-item-label {
color:white!important;
}

[data-route="Workspaces/Home"] [href="/app/home"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Raven"] [href="/app/raven"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Helpdesk"] [href="/app/helpdesk"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Recruitment"] [href="/app/recruitment"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/ERPNext Settings"] [href="/app/erpnext-settings"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Build"] [href="/app/build"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/ERPNext Integrations"] [href="/app/erpnext-integrations"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Payroll"] [href="/app/payroll"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Manufacturing"] [href="/app/manufacturing"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Quality"] [href="/app/quality"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/HR"] [href="/app/hr"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Support"] [href="/app/support"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Projects"] [href="/app/projects"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Assets"] [href="/app/assets"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Stock"] [href="/app/stock"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Accounting"] [href="/app/accounting"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Integrations"] [href="/app/integrations"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Users"] [href="/app/users"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Tools"] [href="/app/tools"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Website"] [href="/app/website"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Buying"] [href="/app/buying"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/Selling"] [href="/app/selling"] .icon-lg {
--icon-stroke: #ffffff!important;
}
[data-route="Workspaces/CRM"] [href="/app/crm"] .icon-lg {
--icon-stroke: #ffffff!important;
}

[data-route="Workspaces/Home"] [href="/app/home"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Raven"] [href="/app/raven"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Helpdesk"] [href="/app/helpdesk"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Recruitment"] [href="/app/recruitment"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/ERPNext Settings"] [href="/app/erpnext-settings"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Build"] [href="/app/build"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/ERPNext Integrations"] [href="/app/erpnext-integrations"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Payroll"] [href="/app/payroll"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Manufacturing"] [href="/app/manufacturing"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Quality"] [href="/app/quality"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/HR"] [href="/app/hr"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Support"] [href="/app/support"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Projects"] [href="/app/projects"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Assets"] [href="/app/assets"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Stock"] [href="/app/stock"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Accounting"] [href="/app/accounting"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Integrations"] [href="/app/integrations"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Users"] [href="/app/users"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Tools"] [href="/app/tools"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Website"] [href="/app/website"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Buying"] [href="/app/buying"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/Selling"] [href="/app/selling"] .sidebar-item-label {
color:white!important;
}
[data-route="Workspaces/CRM"] [href="/app/crm"] .sidebar-item-label {
color:white!important;
}

 #global-sidebar {
width: 48px!important;
left: 0!important;
padding: 0px!important;
  -webkit-transform:translate3d(0,0,0);
 -webkit-backface-visibility: hidden;
transition: width 0.2s ease, box-shadow 0.2s ease!important;
top: 0px!important;
padding-top: 0px!important;
z-index: 6!important;
background-color: rgba(36, 36, 36, 1)!important;
padding-left: 0px!important;
padding-right: 0px!important;
display: block;
overflow-y: auto;
position: fixed;
height: 100vh!important;
}


/* List Item */
#global-sidebarList li{
 height:36px;
 border-bottom-style:none;
 border-bottom-width:0px;
border-bottom: none!important;
}

/* Workspace overlay */


.workspace-overlay {
display: none!important;
}

/* Layout main section wrapper */
.page-wrapper .layout-main-section-wrapper{
 max-width:calc(100vw - 48px)!important
}

/* Row */
.page-wrapper .layout-main{
 position:relative;
 left:auto !important;
 right:0px!important;
 flex-direction:row!important;
 justify-content:flex-end!important;
}

/* Frappe card */
.page-wrapper .frappe-card{
 z-index:3!important;
}

[data-theme-mode="light"] .page-wrapper .layout-main
{
 background-image:url("/files/bg1.jpg")!important;
}

[data-theme-mode="dark"] .page-wrapper .layout-main
{
 background-image:url("/files/bgd.jpg")!important;
}


[data-route^="Form"] .layout-main-section-wrapper{

 background-size:contain!important;
}

#globalmenu
{
 display:none!important;
}
 
#global-sidebarList a .icon-lg{
 margin-left:11px!important;
 margin-right:11px!important;
 width:26px!important;
 height:26px!important;
}
#global-sidebarList a .icon-lg{
--icon-stroke: #707070;
}

.page-title .title-area .title-text
{
 padding-left:0px!important;
 max-width:calc(33.3vw - 100px)!important;
 font-size:20px!important;
}


flex-wrap:wrap;
 height:100vh;
 display:inline-flex;
 flex-direction:column;
 justify-content:center;

#content{
 height:100vh;
}
#global-sidebar a {
color: #787878;
}
/* Global sidebar list */
#global-sidebarList{
 flex-wrap:wrap;
 height:100vh;
 display:inline-flex;
 flex-direction:column;
 justify-content:center;
 width:100%;
}

#global-sidebarList li a {
padding: 0px!important;
 display:flex!important;
}

 .form-footer .btn.icon-btn.btn-default {
display: none;
}

.layout-main-section.frappe-card {
border:none!important;
}

.list-paging-area, .footnote-area {
border-top:none!important;
margin-bottom: 30px!important;
}

#global-sidebarList li a:hover {
background-color: #181818!important;
}
.list-row-head {
 background-color: rgba(255, 255, 255, 0.70)!important;
 -webkit-backdrop-filter: blur(10px);
 backdrop-filter: blur(10px);
height: 38px!important;
 border: 0.5px solid rgba(116, 116, 116, 0.39)!important;
}

[data-theme=dark] .page-form {
margin: 0!important;
border-bottom: 0.5px solid!important;
width: calc(100vw - 48px)!important;
left: 48px!important;
position: fixed!important;
top: calc(var(--page-head-height) + var(--navbar-height) - 12px);
z-index: 6!important;
background-color: var(--gray-890);
 -webkit-backdrop-filter: blur(10px);
 backdrop-filter: blur(10px);
 overflow-x:hidden;
 padding:0px!important;
 max-height:48px;
 transition: maxheight 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

[data-theme=dark] .page-form:hover {
margin: 0!important;
border-bottom: 0.5px solid!important;
width: calc(100vw - 48px)!important;
left: 48px!important;
position: fixed!important;
top: calc(var(--page-head-height) + var(--navbar-height) - 12px);
z-index: 6000!important;
background-color: var(--gray-900);
 -webkit-backdrop-filter: blur(10px);
 backdrop-filter: blur(10px);
 overflow-x:visible;
 padding:0px!important;
 max-height:500px;
 transition: max-height 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
 box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.40)!important;
     padding-left: 30px !important;
     padding-right: 30px !important;
}
[data-theme=light] .page-form {
margin: 0!important;
border-bottom: 0.5px solid rgba(0,0,0,0.2)!important;
width: calc(100vw - 48px)!important;
left: 48px!important;
position: fixed!important;
top: calc(var(--page-head-height) + var(--navbar-height) - 12px);
z-index: 6!important;
 background-color: rgba(255, 255, 255, 0.70);
 -webkit-backdrop-filter: blur(10px);
 backdrop-filter: blur(10px);
 overflow-x:hidden;
 padding:0px!important;
 max-height:48px;
 transition: maxheight 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

[data-theme=light] .page-form:hover {
margin: 0!important;
border-bottom: 0.5px solid rgba(0,0,0,0.2)!important;
width: calc(100vw - 48px)!important;
left: 48px!important;
position: fixed!important;
top: calc(var(--page-head-height) + var(--navbar-height) - 12px);
z-index: 6000!important;
 background-color: rgba(255, 255, 255, 0.40);
 -webkit-backdrop-filter: blur(10px);
 backdrop-filter: blur(10px);
 overflow-x:visible;
 padding:0px!important;
 max-height:500px;
 transition: max-height 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
 box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.40)!important;
}

.awesomplete .input-with-feedback {
border: 0.5px solid rgba(0, 0, 0, 0.3)!important;
}

.form-control {
border: 0.5px solid!important;
}

.layout-main-section .frappe-list .freeze {
height: 34px!important;
 min-height: 34px!important;
opacity: 0!important;
}

.frappe-list .ellipsis {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 100%;
vertical-align: middle;
}
.container  {
max-width:100%!important;
}



.form-tabs-list .form-tabs {
justify-content: center!important;
position: fixed!important;
top: 96px!important;
width: 100vw!important;
 padding: 0px!important;
 margin: 0px!important;
left: 0px!important;
background-color: rgba(0,0,0,0.8)!important;
-webkit-backdrop-filter: blur(10px)!important;
border-bottom: 0.5px none #525252!important;
 z-index:800!important;
}

.std-form-layout>.form-layout>.form-page {
border-radius: 0!important;
border: 1px none var(--border-color)!important;
box-shadow: none;
margin-top: 80px;
padding-left: 80px!important;
padding-bottom: 80px!important;
padding-right: 80px!important;
}

.form-dashboard-section {
border-bottom: 0.5px dotted rgba(0, 0, 0, 0.64)!important;
padding: var(--padding-xs);
}

.form-tab-content {
scroll-margin-top: calc(var(--navbar-height) + 52px);
margin-top: 70px!important;
background-color: rgba(255, 255, 255, 0)!important;
}

.form-tabs-list .form-tabs .nav-item .nav-link {
padding: 10px!important;
 color:#bbbbbb!important;
}
.form-tabs-list .form-tabs .nav-item .nav-link.active {
border: 0px solid var(--primary)!important;
color: black!important;
/* padding-left: 10px; */
/* padding-right: 10px; */
background: rgb(255, 255, 255)!important;
}
.grid-footer
{
background-color: rgba(255, 255, 255, 0)!important;
}
.btn:not(.btn-md):not(.btn-lg) {
padding: 4px 20px!important;
 border: 0.5px solid rgba(88, 88, 88, 0.46)!important;
 
}

.grid-row-open .form-in-grid {
box-shadow: 0 0 5000px 5000px rgba(0, 0, 0, 0.40)!important;
}
.form-tabs-list
{
z-index:4!important;
}
* {
    scrollbar-width: none;
}

.raven-chat-view .raven-chat-view-container .raven-message-stream-container
{

 height: calc(var(--raven-content-height) - 30vh - 78px)!important;
}

.main-section .navbar .container .navbar-collapse form{
 margin-right:60px!important;
  margin-left:0px !important;
  margin-right:0px !important;
}
.navbar .navbar-collapse form{
 justify-content:center !important;
  max-width:40vw!important;;
}
 .navbar-collapse .form-inline .input-group{
  max-width:100%!important;
 }
 .navbar .navbar-collapse{
 max-width:calc(70vw - 10px)!important;;
 justify-content:space-between !important;
}

#navbar-breadcrumbs{
 min-width:25%!important;;
  display:flex!important;;
}

.raven-container[data-open-state=false] .raven-content-container {
display: none!important;
}

.title-area div h3{
 text-shadow:rgba(0, 0, 0, 0.3) 0px 0.5px 0.5px!important;
}

.control-label {
margin-bottom: 6px;
font-size: calc(var(--text-sm) + 2px)!important;
}

.checkbox .label-area
{
 font-size: calc(var(--text-sm) + 2px)!important;
}

.form-section .section-head, .form-dashboard-section .section-head {

font-size: calc(var(--text-lg) + 2px)!important;
 text-align: center!important;
 
}
.list-sidebar .sidebar-section {

display:none!important;
}

[data-page-route=Workspaces] .layout-main .layout-main-section-wrapper {
background: transparent;
}
.modal-dialog {
max-width: 66.6vw!important;
}
}
