@media screen and (max-width: 567px) {


[data-theme="dark"] .layout-main-section {
background-image: url("/files/jj-d.jpg")!important;
padding-top: 80px!important;
padding-left: 20px!important;
padding-right: 20px!important;
background-repeat: no-repeat;
background-size: contain;
background-color:#12161b!important;
}
	

.container.page-body {
width: 100%;
padding-right: 0px;
padding-left: 0px;
margin-right: auto;
margin-left: auto;
}

.page-title {
display: flex;
align-items: center;
padding: 5px;
}

	.row, .dialog-assignment-row, .form-section .section-body, .form-dashboard-section .section-body {
display: flex;
flex-wrap: wrap;
margin-right: 0px;
margin-left: 0px;
}

	

.form-tabs-list {
border-radius: 0;
}	

.editable-form .page-head {
z-index: 6;
position: sticky;
top: var(--navbar-height);
background: rgba(255, 255, 255, 0);
margin-bottom: 5px;
transition: .5s top;
width: 100%;
}

	
.editable-form .layout-main-section {
background-image: url("/files/jf.jpg")!important;
padding-top: 0px!important;
padding-left: 0px!important;
padding-right: 0px!important;
background-repeat: no-repeat;
background-size: contain;
background-color: rgb(255, 255, 255)!important;
}


.page-head .page-head-content {
height: var(--page-head-height);
padding: 8px 0;
}	

	
.layout-main-section {
background-image: url("/files/jf.jpg")!important;
padding-top: 80px!important;
padding-left: 20px!important;
padding-right: 20px!important;
background-repeat: no-repeat;
background-size: contain;
background-color: rgb(240, 240, 240)!important;
}


[data-route^="Workspaces/"] .col {
flex-basis: 0;
flex-grow: 1;
max-width: 100%;
padding: 1px;
}


.page-head {
z-index: 6;
position: fixed;
top: var(--navbar-height);
background: rgba(255, 255, 255, 0);
margin-bottom: 5px;
transition: .5s top;
width: 100%;

}

	.icon-md {
fill: rgba(93, 66, 66, 0);
stroke: var(--charts-tooltip-value);
width: 22px!important;
height: 22px!important;
}


[data-page-route=Workspaces] .layout-main-section
	{
		border-radius:0!important;
	}


.widget.shortcut-widget-box {
cursor: pointer;
padding: 10px 7px;
align-items: center;
}



[data-page-route=Workspaces] .codex-editor .codex-editor__redactor .ce-block .ce-block__content .widget.spacer {
height: 18px!important;
background-color: transparent;
}


.widget.links-widget-box {
padding: 20px;
background-color: transparent;
text-align: center;
border: 1px solid #ffffff;
}


.widget.links-widget-box .link-item {
display: flex;
text-decoration: none;
font-size: var(--text-base);
font-weight: var(--weight-regular);
letter-spacing: .02em;
color: var(--text-color);
padding: 4px;
margin-left: -4px;
margin-bottom: 15px;
border-radius: var(--border-radius-md);
cursor: pointer;
background-color: rgba(255, 255, 255, 0.66);
}

.widget {
display: flex;
flex-direction: column;
min-height: 1px;
padding: 7px;
border-radius: 1px;
height: 100%;
background-color: rgba(255, 255, 255, 0.6);
-webkit-backdrop-filter: blur(5px);
}	


[data-theme="dark"] .widget {
display: flex;
flex-direction: column;
min-height: 1px;
padding: 7px;
border-radius: 1px;
height: 100%;
background-color: rgba(0, 0, 0, 0.39);
-webkit-backdrop-filter: blur(5px);
}

	

:root
{
	overscroll-behavior: none;
}

*::-webkit-scrollbar {
background-color: var(--scrollbar-thumb-color);
border-radius: 0;
display: none;
scrollbar-width: 0!important;
scrollbar-width: thin;
}	

.std-form-layout>.form-layout>.form-page {
border-radius: 0;
border: none;
box-shadow: none;
background-color: var(--card-bg);
}	
	
}
