{% extends base_template_path %}
{% block hero %}{% endblock %}
{% block content %}
{% macro main_content() %}
<div id="page-frappe-furniture-world" data-path="frappe-furniture-world" source-type="Generator" data-doctype="Web Page" source-content-type="Page Builder">
    <div class="page-content-wrapper">
        <!-- breadcrumbs -->
        <div class="page-breadcrumbs">
        </div>
        <main class="">
            <div class="d-flex justify-content-between align-items-center">
                <div class="page-header">
                </div>
            </div>
            <div class="page_content">
                <section class="section section-padding-bottom" data-section-idx="1" data-section-template="Hero with Right Image">
                    <div class="container">
                        <div class="hero-with-right-image">
                            <div class="hero-content">
                                <div>
                                    <h1 class="hero-title">
                                        Build your Comfort Zone
                                    </h1>
                                    <p class="hero-subtitle">
                                        <br>
                                        Carefully curated trinkets make your house a home. Wooden, Marble, Minimalistic, Bold, any aesthetic, speaks for you. Your space must speak your truth.
                                        <br><br>
                                        Let us help you express yourself through our vast furniture range.
                                    </p>
                                    <div><a class="btn btn-lg btn-primary" href="/all-products" style="border-bottom: 3px solid rgb(72, 181, 170);">
                                            Shop Now
                                        </a></div>
                                </div>
                            </div><img alt="" class="image-with-blur hero-image image-loaded" data-src="/files/Hero Image Group Final.png" height="700" src="https://frappefurniture.frappe.cloud/files/Hero%20Image%20Group%20Final.png" width="824">
                        </div>
                    </div>
                </section>
                <section class="section section-padding-top section-padding-bottom bg-light bg-green" data-section-idx="2" data-section-template="Item Card Group">
                    <div class="container">
                        <div class="section-with-cards item-card-group-section">
                            <div class="item-group-header d-flex justify-content-between">
                                <div class="title-section">
                                    <h2 class="section-title">What's New</h2>
                                    <p class="section-description">Exclusive Products this festive season !</p>
                                </div>
                                <div class="primary-action-section"><a class="btn btn-primary pull-right" href="{{ action }}">
                                        Shop Now
                                    </a></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 item-card">
                                    <div class="card featured-item align-items-center" style="height: 360px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-5 ml-4">
                                                <img alt="Light Blue Stylish Rest Chair and Arm Chair in Cot..." class="card-img" src="https://frappefurniture.frappe.cloud/files/blue-lounge-chair.jpg">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body text-left" style="width:100%">
                                                    <div class="mt-4">
                                                        <a href="/seating/lounge-chairs/light-blue-stylish-rest-chair-and-arm-chair-in-cotton-fabric-for-living-room-frzqs">
                                                            <div class="product-title">
                                                                Light Blue Stylish Rest Chair and Arm Chair in Cot...
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="product-description ellipsis text-muted" style="white-space: normal;">
                                                        Stylish Rest Chair and Arm Chair in Cotton Fabric for Living Room
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 item-card">
                                    <div class="card align-items-center" style="height: 360px;">
                                        <div class="card-img-container">
                                            <a href="/seating/lounge-chairs/arm-chair-with-ottoman-fabric-derby-green-vexvo" style="text-decoration: none;">
                                                <img alt="New Deco Arm Chair With Ottoman - Fabric Derby Gre..." class="card-img" src="https://frappefurniture.frappe.cloud/files/deco-1.jpeg">
                                            </a>
                                        </div>
                                        <div class="card-body text-center" style="width:100%">
                                            <div class="mt-4">
                                                <a href="/seating/lounge-chairs/arm-chair-with-ottoman-fabric-derby-green-vexvo">
                                                    <div class="product-title">
                                                        New Deco Arm Chair With Ottoman - Fabric Derby Gre...
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-category">Lounge Chairs</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 item-card">
                                    <div class="card align-items-center" style="height: 360px;">
                                        <div class="card-img-container">
                                            <a href="/lighting/bedside-table-lamps-set-of-2-nightstand-with-blue-fabric-shade-25d90" style="text-decoration: none;">
                                                <img alt="Bedside Table Lamps Set of 2, Nightstand, with Blu..." class="card-img" src="https://frappefurniture.frappe.cloud/files/lamps.jpg">
                                            </a>
                                        </div>
                                        <div class="card-body text-center" style="width:100%">
                                            <div class="mt-4">
                                                <a href="/lighting/bedside-table-lamps-set-of-2-nightstand-with-blue-fabric-shade-25d90">
                                                    <div class="product-title">
                                                        Bedside Table Lamps Set of 2, Nightstand, with Blu...
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-category">Lighting</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 item-card">
                                    <div class="card align-items-center" style="height: 360px;">
                                        <div class="card-img-container">
                                            <a href="/carpets-flooring/ultra-soft-fluffy-area-rugs-for-bedroom-4-x-53-feet-modern-floor-carpet-wmhb9" style="text-decoration: none;">
                                                <img alt="Soft Fluffy Area Rugs for Bedroom, 4 x 5.3 Feet Mo..." class="card-img" src="https://frappefurniture.frappe.cloud/files/carpets-category.jpg">
                                            </a>
                                        </div>
                                        <div class="card-body text-center" style="width:100%">
                                            <div class="mt-4">
                                                <a href="/carpets-flooring/ultra-soft-fluffy-area-rugs-for-bedroom-4-x-53-feet-modern-floor-carpet-wmhb9">
                                                    <div class="product-title">
                                                        Soft Fluffy Area Rugs for Bedroom, 4 x 5.3 Feet Mo...
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-category">Carpets &amp; Flooring</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 item-card">
                                    <div class="card featured-item align-items-center" style="height: 360px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-5 ml-4">
                                                <img alt="Safavieh Homes Collection Tablet Distressed Blue 3..." class="card-img" src="https://frappefurniture.frappe.cloud/files/storage.jpg">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body text-left" style="width:100%">
                                                    <div class="mt-4">
                                                        <a href="/storage/safavieh-homes-collection-tablet-distressed-blue-3-drawer-chest-fke1k">
                                                            <div class="product-title">
                                                                Safavieh Homes Collection Tablet Distressed Blue 3...
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="product-description ellipsis text-muted" style="white-space: normal;">
                                                        Safavieh Homes Collection Tablet Distressed Blue 3 Drawer Chest
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 item-card">
                                    <div class="card align-items-center" style="height: 360px;">
                                        <div class="card-img-container">
                                            <a href="/tables/dining-tables/zinus-jen-47-inch-wood-dining-table-solid-wood-kitchen-table-rnuyj" style="text-decoration: none;">
                                                <img alt=" ZINUS Jen 47 Inch Wood Dining Table / Solid Wood ..." class="card-img" src="https://frappefurniture.frappe.cloud/files/table.jpg">
                                            </a>
                                        </div>
                                        <div class="card-body text-center" style="width:100%">
                                            <div class="mt-4">
                                                <a href="/tables/dining-tables/zinus-jen-47-inch-wood-dining-table-solid-wood-kitchen-table-rnuyj">
                                                    <div class="product-title">
                                                        ZINUS Jen 47 Inch Wood Dining Table / Solid Wood ...
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-category">Dining Tables</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section-padding-top section-padding-bottom" data-section-idx="3" data-section-template="Testimonial">
                    <div class="container">
                        <div class="testimonial">
                            <div class="testimonial-logo">
                                <img alt="Marica D'souza, Editor, Modern Homes Magazine" src="https://frappefurniture.frappe.cloud/files/marica-headshot.jpeg">
                            </div>
                            <div class="testimonial-content">
                                “Great Quality and Sturdy! You get more than what you pay for. My little study corner looks perfect!”
                            </div>
                            <div class="testimonial-by">
                                Marica D'souza, Editor, Modern Homes Magazine
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="page-footer"></div>
        </main>
    </div>
</div>
{% endmacro %}
{{ main_content() }}
{% endblock %}